.board {
    background: "black";
    margin: auto;
	width: 500px; /* Total horizontal dimensions */
	height: 500px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */ 
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
    grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
}

.box {
    text-align: center;
    vertical-align: middle;
    border: 3px solid darkblue;
    font-size: 3rem;
    font-weight: bold;
}


.right{
  position: absolute;
  text-align: center;
  border: 2px solid green;
  right: 60px;
  width: 100px;
}

.right1{
  top: 150px;
  position: absolute;
  text-align: center;
  border: 1px solid black;
  right: 60px;
  width: 100px;
}

.leaderboard {
  top: 225px;
  position: absolute;
  text-align: center;
  border: 1px solid blue;
  left: 30px;
  width: auto;
}

.names { 
  font-weight: bold;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  top: 150px;
  right: 60px;
}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}